In [1]:
1+2

3

In [2]:
a=1
b=20
c=a+b

In [3]:
type(c)

int

In [6]:
type(1>1)

bool

In [7]:
#Bolean
True

True

In [8]:
True and False

False

In [9]:
type(True)

bool

In [11]:

4/3

1.3333333333333333

In [12]:
4//3

1

In [1]:
4%3

1

In [2]:
True & False

False

In [3]:
type(1)

int

In [6]:
a=10
b=20
a+b>30 | b-a<10

False

String

In [2]:
str(1545)

'1545'

In [1]:
type("Ketan")

str

In [8]:
type('Chavan')

str

In [49]:
str='Ketan'

In [52]:
type(str)

str

In [6]:
import math  


math.sin(9)

0.4121184852417566

In [9]:
a=23

In [10]:
print(a)

23

In [14]:
str1="Ketan"
str2="Chavan"

In [16]:
str1+ " "+ str2

'Ketan Chavan'

In [19]:
a=input("Enter 1st number")
b=input("Enter 2nd number")
c=a+b

Enter 1st number10
Enter 2nd number2

In [51]:
type(a)

float

In [30]:

a=float(input("Enter float"))

Enter float0

In [31]:
print(a)

0.0

In [50]:
print("my name is {name} and my surname is {surname}".format(name="Ketan",surname="Chavan"))

my name is Ketan and my surname is Chavan

In [66]:
if 63<20:
 print("True")
else:
 print("False")

False

In [68]:
myList=[1,222,"Kd",True]

myList

In [69]:
myList

[1, 222, 'Kd', True]

In [70]:
type(myList)

list

In [74]:
myList[0]

1

In [77]:
myList

[1, 222, 'Kd', True, 'DSD']

In [81]:
myList.append("DSD")

In [78]:
myList[0]="First value"

In [82]:
myList

['First value', 222, 'Kd', True, 'DSD', 'DSD', 'DSD']

In [84]:
myList.count("DSD")

3

In [89]:
str1="Ketan F"

In [86]:
str1[2]

't'

In [90]:
str1[3]="S"

TypeError: 'str' object does not support item assignment

In [91]:
str1

'Ketan F'